<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="images/OtherAssets/DL_ICON.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.0.2/papaparse.min.js"></script>
</head>
<body>
    <!-- header -->
    <div class="TopBar_Rectangle">
        <a href = "#"><img class = "DL_ICON" Id="DL_ICON" src = "images/OtherAssets/DL_ICON.png" alt = "DL_ICON"></a>
        <div class="HeaderTextDiv">
            <% if (loggedIn) { %>
                <h1 class="HeaderText PlayNowPos" id="Lobby">PLAY NOW</h1>
            <% } else { %>
                <h1 class="HeaderText PlayNowPos" id="PlayNowLogin">PLAY NOW</h1>
            <% } %>
            <h1 class="HeaderText LearnNowPos" id="LtoP">LEARN TO PLAY</h1>
            <h1 class="HeaderText GallaryPos" id="gallery">GALLERY</h1>
        </div>
        <% if (loggedIn) { %>
            <div id="LoginBox" class="UsernameHeaderTxt"><h1 class="HeaderText"><%= username %></h1></div>
        <% } else { %>
            <div class="LoginBox" id="LoginBox"><h1 class="HeaderText LoginTxt">LOGIN</h1></div>
        <% } %>
    </div>
    <!-- body -->
    <div class="LobbyRoomHead">
        <form Class="SearchForForm" action = "/search-lobby" method ="get">
            <input class="SearchForLobby" type="Text" id="SearchLobby" name="SearchLobbyQuery" value="" placeholder="Search for a lobby...">
            <input type="submit" value="SUBMIT" class="searchSubmit ">
        </form>
        <input type="submit" id="CreateALobby" value="CREATE A GAME" class="CreateALobby">
    </div>
    <div class="LobbyBackdrop">
        <div class="lobbyTitleDiv">
            <h1 class="HeaderText lobbyTitle">LOBBY NAME</h1>
            <h1 class="HeaderText lobbyTitle">USERNAME</h1>
            <h1 class="HeaderText lobbyTitle">LOCKED GAME</h1>
        </div>
        <!-- Template of lobbyroom -->
        <% lobbies.forEach(function(lobby) { %>
            <div class="lobbyRoom">
                <h1 class="HeaderText LobbyInfo"><%= lobby.lobbyName %></h1>
                <h1 class="HeaderText LobbyInfo"><%= lobby.hostUsername %></h1>
                <h1 class="HeaderText LobbyInfo"><%= lobby.isLocked ? 'Yes' : 'No' %></h1>
                <form action="/join-lobby/<%= lobby.id %>" method="post">
                    <input type="submit" value="JOIN" class="JoinButton">
                </form>
            </div>
        <% }); %>
        <!-- End Of Template of lobbyroom -->
    </div>

    <script src="index.js"></script>
</body>
</html>
